.page-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 40px 0 150px;
  h2 {
    margin-top: 25px;
    color: $white-color;
    font-size: 2rem;
    @include borderText(1);
  }

  a {
    text-decoration: none;
    color: $white-color;
  }

  a.black-text {
    color: black;
  }
}

.grid-cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.filter-form {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  .form-element {
    label {
      display: block;
      font-size: 1.5rem;
      color: $white-color;
      margin-bottom: 5px;
      @include borderText(1);
    }
  }

  select:first-child {
    width: 30%;
  }

  button {
    height: 50px;
    width: 10%;
  }
}

.details-list {
  // background-color: $footer-color;
  li {
    font-size: 1.5rem;
    color: $white-color;
    @include borderText(1);
  }
}
