*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("https://st.depositphotos.com/3589933/5161/v/600/depositphotos_51615819-stock-illustration-geometric-seamless-vector-abstract-pattern.jpg");
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

@import "./mixins";
@import "./variables/";
@import "./commons";
@import "./components/";
@import "./pages/";
