.card {
  img {
    width: 100%;
  }

  .card-info {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 5px;
    i {
      cursor: pointer;
    }
  }

  button {
    background: none;
    border: none;
    outline: none;
  }
}
