footer {
  margin-top: 20px;
  background-color: $footer-color;
  // display: flex;
  padding: 30px 20px;
  position: absolute;
  bottom: 0;
  width: 100vw;
//   text-align: center;
  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    li {
      a {
        color: $white-color;
        text-decoration: none;
        font-size: 1.5rem;
      }
    }
  }
}
