header {
  position: relative;
  img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
    z-index: -1;
  }
  h1 {
    z-index: 1;
    color: white;
    display: flex;
    height: 50vh;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: $comic-font;
    @include borderText(2);
  }
}
