nav {
  background-color: red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;

  h1 {
    font-family: $comic-font;
    font-size: 3rem;
    @include borderText(5);
  }

  ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 1.5rem;
  }

  a{
      color: white;
      text-decoration: none;
  }
}
